<!--
Template provided by Eastern University  
-->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nursing Home Hospitalization Predictor{% endblock %}</h1>
{% endblock %}

{% block nav_hosp%}
    class="active"
{% endblock %}

{% block content %}

    <!-- Starts form section -->
</br>

<!-- Starts form section -->
<div class="form-container ">
  <form class="form-horizontal" action = "/ccn" method="post">
    <p>Select Provider Name:</p>
    <select name="provider" method="POST, GET" action="/" class="Input">
      {% for provider in providers %}
              <option value="{{ provider }}">{{ provider }}</option>
          {% endfor %}
    </select>
    <div class="form-group row">
      <label class="control-label col-sm-2" for="">&nbsp;</label>
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </form>
  <!-- Ends form section -->
        <!-- Ends form section -->




{% endblock %}